# Archivos temporales de Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales 
venv/
.venv/
env/

# Configuraciones de editores
.vscode/
.idea/

# Archivos del sistema operativo
.DS_Store
Thumbs.db